<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>Telefonski Imenik</title>
    <h:outputStylesheet library="css" name="styles.css"/>
</h:head>

<h:body>
    <h:form id="tabForm">
        <p:toolbar>
            <f:facet name="right">
                <h:outputText value="Hello, #{userContactsView.getLoggedUserName()} !"/>
                <span class="ui-separator">
                    <span class="ui-icon ui-icon-grip-dotted-vertical" />
                </span>
                <p:commandButton value="Logout" actionListener="#{userContactsView.logout}" oncomplete="location.reload()" icon="ui-icon-arrowreturnthick-1-e"/>
            </f:facet>
        </p:toolbar>

        <p:growl id="msgs" showDetail="true"/>

        <p:dataTable id="contacts" styleClass="contacts" widgetVar="contacts" var="contact" value="#{userContactsView.contacts}"
                     editable="true">

            <f:facet name="header">
                <p:outputPanel>
                    <table class="header-table">
                        <col width="33%"/>
                        <col width="33%"/>
                        <col width="33%"/>
                        <tr>
                            <td>&nbsp;</td>
                            <td>Telefonski Imenik</td>
                            <td>
                                <span class="search-label">Search:</span>
                                <p:inputText id="globalFilter" style="width:250px" placeholder="Enter Ime, Priimek ali Telefone" value="#{userContactsView.filterValue}">
                                    <p:ajax event="keyup" update="contacts" listener="#{userContactsView.filter}"/>
                                </p:inputText>

                            </td>
                        </tr>
                    </table>

                </p:outputPanel>

            </f:facet>

            <p:column headerText="Ime">
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{contact.firstName}"/></f:facet>
                    <f:facet name="input"><p:inputText value="#{contact.firstName}"/></f:facet>
                </p:cellEditor>
            </p:column>

            <p:column headerText="Priimek">
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{contact.lastName}"/></f:facet>
                    <f:facet name="input"><p:inputText value="#{contact.lastName}"/></f:facet>
                </p:cellEditor>
            </p:column>

            <p:column headerText="Naslov">
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{contact.address}"/></f:facet>
                    <f:facet name="input"><p:inputText value="#{contact.address}"/></f:facet>
                </p:cellEditor>
            </p:column>

            <p:column headerText="Telefone">
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{contact.phoneNumber}"/></f:facet>
                    <f:facet name="input"><p:inputMask value="#{contact.phoneNumber}" mask="(99) 999-999"/></f:facet>
                </p:cellEditor>
            </p:column>

            <p:column headerText="Mobitel">
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{contact.mobilePhoneNumber}"/></f:facet>
                    <f:facet name="input"><p:inputMask value="#{contact.mobilePhoneNumber}"
                                                       mask="(999) 999-999"/></f:facet>
                </p:cellEditor>
            </p:column>

            <p:column headerText="E-naslov">
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{contact.email}"/></f:facet>
                    <f:facet name="input"><p:inputText value="#{contact.email}"/></f:facet>
                </p:cellEditor>
            </p:column>

            <p:column headerText="Opomba">
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{contact.note}"/></f:facet>
                    <f:facet name="input"><p:inputText value="#{contact.note}"/></f:facet>
                </p:cellEditor>
            </p:column>

            <p:column style="width:32px" exportable="false">
                <p:rowEditor/>
            </p:column>

            <p:column style="width:32px;text-align: center" exportable="false">
                <p:commandButton update=":tabForm:contacts :tabForm:msgs" icon="ui-icon-trash" actionListener="#{userContactsView.deleteContact(contact)}"/>
            </p:column>
            <p:ajax event="rowEdit" listener="#{userContactsView.onRowEdit}" update=":tabForm:msgs"/>
            <p:ajax event="rowEditCancel" listener="#{userContactsView.onRowEditCancel}" update=":tabForm:msgs"/>
            <f:facet name="footer">
                <p:commandButton value="Add Contact" oncomplete="PF('newContactDialog').show()" icon="ui-icon-plus"/>
            </f:facet>
        </p:dataTable>

        <div style="text-align: right; margin-right: 25px">
        <h3>Export Data</h3>
        <h:commandLink>
            <p:graphicImage name="img/pdf.png"/>
            <p:dataExporter type="pdf" target="contacts" fileName="contacts" pageOnly="true"/>
        </h:commandLink>
        <h:commandLink>
            <p:graphicImage name="img/csv.png"/>
            <p:dataExporter type="csv" target="contacts" fileName="contacts" pageOnly="true"/>
        </h:commandLink>
        <h:commandLink>
            <p:graphicImage name="img/xls.png"/>
            <p:dataExporter type="xls" target="contacts" fileName="contacts" pageOnly="true"/>
        </h:commandLink>
        </div>
    </h:form>

    <p:dialog id="newContact" widgetVar="newContactDialog" modal="true" width="700">
        <h:form>
            <h:panelGrid columns="3" cellpadding="3">
                <p:outputLabel for="ime" value="Ime*:"/>
                <p:inputText id="ime" value="#{newContactView.newContact.firstName}"/>
                <p:message for="ime"/>

                <p:outputLabel for="priimek" value="Priimek*:"/>
                <p:inputText id="priimek" value="#{newContactView.newContact.lastName}"/>
                <p:message for="priimek"/>

                <p:outputLabel for="address" value="Naslov*:"/>
                <p:inputText id="address" value="#{newContactView.newContact.address}"/>
                <p:message for="address"/>

                <p:outputLabel for="email" value="Elektronski naslov*:"/>
                <p:inputText id="email" value="#{newContactView.newContact.email}"/>
                <p:message for="email"/>

                <p:outputLabel for="phone" value="Telefonska Stevila:"/>
                <p:inputMask id="phone" value="#{newContactView.newContact.phoneNumber}" mask="(99) 999-999"/>
                <p:message for="phone"/>

                <p:outputLabel for="mobilePhone" value="Mobitel:"/>
                <p:inputMask id="mobilePhone" value="#{newContactView.newContact.mobilePhoneNumber}"
                             mask="(999) 999-999"/>
                <p:message for="mobilePhone"/>

                <p:outputLabel for="note" value="Opomba: "/>
                <p:inputTextarea id="note" value="#{newContactView.newContact.note}"/>
                <p:message for="note"/>

                <h:outputText styleClass="marked-fields" value="Fields marked as * are required"/>
                <p:commandButton value="Save"
                                 actionListener="#{newContactView.save}"
                                 update=":tabForm:contacts @form :tabForm:msgs"
                                 oncomplete="if(args &amp;&amp; !args.validationFailed) PF('newContactDialog').hide()">
                </p:commandButton>
                <p:commandButton value="Cancel" oncomplete="PF('newContactDialog').hide()"/>
            </h:panelGrid>
        </h:form>
    </p:dialog>
</h:body>
</html>