.valid-error {
    color: red;
    font-size: 14px;
}

.ui-datatable .ui-datatable-footer {
    text-align: right !important;
}

.ui-datatable .ui-datatable-header {
    font-size: 16px;
}
table.header-table tbody td {
    width: 100%;
    border: none;
    border-color: transparent;
}

table.header-table tbody td:nth-child(3) {
    font-size: 14px;
    text-align: right;
}
.search-label {
    margin-right: 20px;
}

.contacts {
    margin-top: 30px;
    font-size: 14px;
}

.marked-fields {
    font-size: 12px;
    color: dimgray;
}